constraints: aeson ==0.11.2.0,
             attoparsec ==0.13.0.2,
             array ==0.5.1.0,
             base ==4.8.2.0,
             rts ==1.0,
             ghc-prim ==0.4.0.0,
             integer-gmp ==1.0.0.0,
             bytestring ==0.10.6.0,
             deepseq ==1.4.1.1,
             containers ==0.5.6.2,
             scientific ==0.3.4.6,
             binary ==0.7.5.0,
             hashable ==1.2.4.0,
             text ==1.2.2.1,
             vector ==0.11.0.0,
             primitive ==0.6.1.0,
             transformers ==0.4.2.0,
             dlist ==0.7.1.2,
             fail ==4.9.0.0,
             mtl ==2.2.1,
             semigroups ==0.18.1,
             tagged ==0.8.4,
             template-haskell ==2.10.0.0,
             pretty ==1.1.2.0,
             unordered-containers ==0.2.7.0,
             syb ==0.6,
             time ==1.5.0.1,
             http-client ==0.4.28,
             base64-bytestring ==1.0.0.1,
             blaze-builder ==0.4.0.2,
             case-insensitive ==1.2.0.6,
             cookie ==0.4.2,
             data-default-class ==0.0.1,
             old-locale ==1.0.0.7,
             exceptions ==0.8.2.1,
             stm ==2.4.4.1,
             transformers-compat ==0.5.1.4,
             filepath ==1.4.0.0,
             http-types ==0.9,
             mime-types ==0.1.0.7,
             network ==2.6.2.1,
             unix ==2.7.1.0,
             network-uri ==2.6.1.0,
             parsec ==3.1.11,
             random ==1.1,
             streaming-commons ==0.1.15.5,
             async ==2.1.0,
             directory ==1.2.2.0,
             process ==1.2.3.0,
             zlib ==0.6.1.1,
             http-client-tls ==0.2.4,
             connection ==0.2.5,
             byteable ==0.1.1,
             socks ==0.5.5,
             cereal ==0.5.1.0,
             tls ==1.3.8,
             asn1-encoding ==0.9.3,
             asn1-types ==0.3.2,
             hourglass ==0.2.10,
             memory ==0.12,
             cryptonite ==0.15,
             x509 ==1.6.3,
             asn1-parse ==0.9.4,
             pem ==0.2.2,
             x509-store ==1.6.1,
             x509-validation ==1.6.3,
             x509-system ==1.6.3,
             lens ==4.14,
             base-orphans ==0.5.4,
             bifunctors ==5.3,
             comonad ==5,
             contravariant ==1.4,
             StateVar ==1.1.0.4,
             void ==0.7.1,
             distributive ==0.5.0.2,
             free ==4.12.4,
             prelude-extras ==0.4.0.3,
             profunctors ==5.2,
             semigroupoids ==5.0.1,
             kan-extensions ==5.0.1,
             adjunctions ==4.3,
             parallel ==3.2.1.0,
             reflection ==2.1.2,
             servant ==0.7.1,
             base-compat ==0.9.1,
             bytestring-conversion ==0.3.1,
             double-conversion ==2.0.1.0,
             http-api-data ==0.2.2,
             time-locale-compat ==0.1.1.1,
             http-media ==0.6.3,
             mmorph ==1.0.6,
             string-conversions ==0.4,
             utf8-string ==1.0.1.1,
             vault ==0.3.0.6,
             servant-client ==0.7.1,
             safe ==0.3.9,
             servant-server ==0.7.1,
             split ==0.2.3.1,
             system-filepath ==0.4.13.4,
             wai ==3.2.1,
             bytestring-builder ==0.10.6.0.0,
             wai-app-static ==3.1.5,
             blaze-html ==0.8.1.1,
             blaze-markup ==0.7.0.3,
             file-embed ==0.0.10,
             http-date ==0.0.6.1,
             optparse-applicative ==0.12.1.0,
             ansi-wl-pprint ==0.6.7.3,
             ansi-terminal ==0.6.2.3,
             unix-compat ==0.4.1.4,
             wai-extra ==3.0.15.1,
             fast-logger ==2.4.6,
             auto-update ==0.1.4,
             easy-file ==0.2.1,
             unix-time ==0.3.6,
             old-time ==1.1.0.3,
             iproute ==1.7.0,
             appar ==0.1.4,
             byteorder ==1.0.4,
             lifted-base ==0.2.3.6,
             monad-control ==1.0.1.0,
             transformers-base ==0.4.4,
             resourcet ==1.1.7.4,
             stringsearch ==0.3.6.6,
             wai-logger ==2.2.7,
             word8 ==0.1.2,
             warp ==3.2.6,
             http2 ==1.6.0,
             psqueues ==0.2.2.1,
             simple-sendfile ==0.2.21
